// Decks
@mixin deck($col-background: #eee, $background-trans: 0, $col-header-link: #cd0403, $col-header-regular: #000, $font-small-color: #000, $headernav-link-color: false, $slash-color: false, $category-background-color: false, $category-text-color: false, $menu-color-hover:$col-header-link) {
  background: transparentize($col-background, $background-trans);
	padding-top: 1em; 
	span.small a {
			color: $col-header-link;
	}
	.deck-header {
		color: $col-header-regular;
		strong {
			display: inline-block;
			position: relative;
			color: $col-header-link;
		}
		a {
			color: $col-header-regular;
		}
	}
	
	.deck-header strong,
	.deck-header a strong,
	.icon-angle-down {
		color: $col-header-link;
	}
	.deck-header small,
	.deck-header a small {
		color: $font-small-color;
	}
	.deck-menu {
		a:hover {
			color: $menu-color-hover;
		}
	}
	.menu-more i:before {
		color: $col-header-link;

		ul {
			background-color: $col-header-link;
			a {
				background-color: $col-header-link;
				&:hover {
					background-color: darken($col-header-link, 10%);
				}
			}
		}		
	}
	.deck-header a:hover,
	.deck-header a strong:hover {
		color: darken($col-header-link, 7%);
	}
	.teaser {
		background-color: transparent;
		padding: 0;
		@if $category-background-color {	
			.category {
				background-color: $category-background-color;
				color: $category-text-color;
			}
		}
		i {
			color: $col-header-link;
		}
	}
	.teaser .header a, 
	.related a,
	.related-mega a {
		color: $font-small-color;
	}
	.teaser mark.highlight {
		color: $col-header-link;
	}
	.load-more {
		background-color: $col-header-link;
		color: $category-text-color;
	}
	@if $headernav-link-color {
    	.deck-menu a {
			color: $headernav-link-color;
		}
	}
	@if $slash-color {
		.slash {
			color: $slash-color
		}
	}
	
}	

// TAGS

@mixin teaser-tag($col-background: #000, $col-text: #fff, $col-icon: #fff) {
	background-color: $col-background;
	color: $col-text;
	i {
		color: $col-icon!important;
	}
}

// Buttons

@mixin btn($background-color: $col-news, $text-color: #fff, $font-size: 15px, $line-height: 20px, $padding-left: 10px, $padding-right: 10px, $col-counter: false) {
	background-color: $background-color;
	color: $text-color;
	font-size: $font-size;
	line-height: $line-height;
	display: inline-block;
	border: 0;
	font-family: $font-family-header;
	display: inline-block;
	box-shadow: 0 .1em 2px rgba(0,0,0,.25);
	padding-left: $padding-left;
	padding-right: $padding-right;
	transition: all .1s ease;
	&:hover {
		background-color: darken($background-color, 5%);
		text-decoration: none;
		color: $text-color;
	}
	&:active {
		box-shadow: 0 0px 1px rgba(0,0,0,.25), 0 .2em .2em rgba(0,0,0,.25) inset;
		outline: none;
		color: $text-color;
	}
	&:focus {
		outline: none;
	}
	@if $col-counter {
		ins {
			background-color: darken($background-color, 10%);
		}
	}
}	

// Teaser Categories

@mixin cat($color: $col-news, $link-color: #fff) {


	.category {
		background-color: $color;
		color: $link-color;
		display: inline-block;
		
		
		
		
		
		&:hover {
			background-color: darken($color, 5%);
			color: $link-color;
		}

	}	
	
	.teaser .header i, .teaser i {
		color: $color;
	}
	.highlight, .header i {
		color: $color;
		// font-size: 16px;
		position: relative;
	}
	.related a:before {
		background-color: $color;
	}
}


// List boxes

@mixin box-theme($background-color: $gray-light, $title-color: $col-news, $header-color: #000, $btn-background-color: $col-news, $btn-text-color: #fff, $counter-color: false) {
	
	background: $background-color;
	.box-title, .header i {
		color: $title-color;
	}
	.teaser .header,
	.teaser .header a {
		color: $header-color;
		&:hover {
			color: transparentize($header-color, .3);
		}
	}
	li {
		line-height: 1.2;
	}
	footer {
		color: rgba(0,0,0,.4);
		font-size: 12px;
		margin-top: .5em;
	}
	.load-more {
		background-color: $btn-background-color;
		color: $btn-text-color;
		&:hover {
			background-color: darken($btn-background-color, 5%);
			color: darken($btn-text-color, 5%);
		}
	}
	
	@if $counter-color {	
		time,
		.list-top li:before {
			color: $counter-color;
		}
	}


}

// Teaser background colors 

@mixin teaser-color($background-color, $link-color, $text-color, $highlight-color, $icon-color, $category-background-color, $category-link-color ) {
	background-color: $background-color;
	padding: 5px 5px 10px;
	color: $text-color;
	&>figure {
		margin-left: -5px;
		margin-right: -5px;
		margin-top: -5px;
	}
	.header a, 
	a, a:hover {
		color: $link-color;
	}

	.category {
		background-color: $category-background-color;
		color: $category-link-color;
		&:hover {
			background-color: darken($category-background-color, 10%)
		}
	}
	.highlight {
		color: $icon-color;
	}
	.header i:before {
		color: $icon-color;
		@extend .blink;
	}	
}
