
.bt-logo {
// 	PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4NDEuODkgNTk1LjI4Ij4NCg0KCTxyZWN0IHg9IjIzMS4wMjQiIHk9IjIxOS42ODUiIGZpbGw9IiNDRDA0MDMiIHdpZHRoPSIzODguMzQ2IiBoZWlnaHQ9IjEyNy41NTkiLz4NCgk8bGluZWFyR3JhZGllbnQgaWQ9IlNWR0lEXzFfIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjQyNS4xOTczIiB5MT0iMjIyLjY0NyIgeDI9IjQyNS4xOTczIiB5Mj0iMjU1LjY4MDgiPg0KCQk8c3RvcCAgb2Zmc2V0PSIwIiBzdHlsZT0ic3RvcC1jb2xvcjojRkZGRkZGO3N0b3Atb3BhY2l0eTowLjUiLz4NCgkJPHN0b3AgIG9mZnNldD0iMSIgc3R5bGU9InN0b3AtY29sb3I6I0NEMDQwMyIvPg0KCTwvbGluZWFyR3JhZGllbnQ+DQoJPHJlY3QgeD0iMjMzLjg1OCIgeT0iMjIyLjUyIiBmaWxsPSJ1cmwoI1NWR0lEXzFfKSIgd2lkdGg9IjM4Mi42NzciIGhlaWdodD0iMzMuMTY2Ii8+DQoJPGxpbmVhckdyYWRpZW50IGlkPSJTVkdJRF8yXyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI0MjUuMTk3MyIgeTE9IjMxOS4yNzgzIiB4Mj0iNDI1LjE5NzMiIHkyPSIzNDQuMjk4NSI+DQoJCTxzdG9wICBvZmZzZXQ9IjAiIHN0eWxlPSJzdG9wLWNvbG9yOiNGRkZGRkYiLz4NCgkJPHN0b3AgIG9mZnNldD0iMSIgc3R5bGU9InN0b3AtY29sb3I6IzAwMDAwMCIvPg0KCTwvbGluZWFyR3JhZGllbnQ+DQoJPHJlY3QgeD0iMjMzLjg1OCIgeT0iMzE5LjQwNSIgb3BhY2l0eT0iMC4yIiBmaWxsPSJ1cmwoI1NWR0lEXzJfKSIgd2lkdGg9IjM4Mi42NzciIGhlaWdodD0iMjQuOTQ1Ii8+DQoNCgkJCTxsaW5lYXJHcmFkaWVudCBpZD0iU1ZHSURfM18iIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iNDA2LjEwNjQiIHkxPSIxODguOTE5OSIgeDI9IjQwNi4xMDY0IiB5Mj0iMzU1LjQ4MjciPg0KCQkJCTxzdG9wICBvZmZzZXQ9IjAiIHN0eWxlPSJzdG9wLWNvbG9yOiNGRkZGRkYiLz4NCgkJCQk8c3RvcCAgb2Zmc2V0PSIxIiBzdHlsZT0ic3RvcC1jb2xvcjojMDAwMDAwIi8+DQoJCQk8L2xpbmVhckdyYWRpZW50Pg0KCQkJPHBhdGggZmlsbD0idXJsKCNTVkdJRF8zXykiIGQ9Ik0yNTkuNzU4LDMyMy4zNjJ2LTc3LjM4aDkxLjk1OWM0My40LDAsNDguMzM0LDIuMDE4LDQ4LjMzNCwxNi44MjINCgkJCQljMCwxMi44OTYtNS4zODMsMTYuOTM0LTM0Ljg3NywxNi45MzRoLTcuNHY1LjM4M2g3LjRjMzEuMDYzLDAsMzYuMTEsNC4yNjEsMzYuMTEsMTcuNDkzYzAsMTguMzkzLTkuMDgzLDIwLjc0OC01MC44MDIsMjAuNzQ4DQoJCQkJSDI1OS43NTh6IE0zMTAuMTExLDI3Ny4wNDdoMjUuNzk0YzEwLjk4OSwwLDEyLjMzNi0yLjEzMSwxMi4zMzYtMTAuMDk0YzAtNi4zOTEtMi4xMzEtOC4wNzQtMTIuMzM2LTguMDc0aC0yNS43OTRWMjc3LjA0N3oNCgkJCQkgTTMxMC4xMTEsMzEwLjEyOGgyNS43OTRjMTIsMCwxNC4wMTgtMi40NjcsMTQuMDE4LTEwLjc2NmMwLTcuNjI1LTEuNTctMTAuNDI5LTE0LjI0Mi0xMC40MjloLTI1LjU2OVYzMTAuMTI4eiBNNDU0LjQ0LDMyMy4zNjINCgkJCQl2LTYxLjIzMWgtNDQuNzQ1di0xNi4xNDhoMTQyLjc1OXYxNi4xNDhoLTQ0Ljg1NnY2MS4yMzFINDU0LjQ0eiIvPg0KDQoJCQk8bGluZWFyR3JhZGllbnQgaWQ9IlNWR0lEXzRfIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjMyOC4xMDUiIHkxPSIzMjAuNjA0NSIgeDI9IjMyOC4xMDUiIHkyPSIyNDQuOTkyNyI+DQoJCQkJPHN0b3AgIG9mZnNldD0iMCIgc3R5bGU9InN0b3AtY29sb3I6I0ZGRkZGRiIvPg0KCQkJCTxzdG9wICBvZmZzZXQ9IjAuNDkxOSIgc3R5bGU9InN0b3AtY29sb3I6I0ZERkRGRCIvPg0KCQkJCTxzdG9wICBvZmZzZXQ9IjAuNjY5MSIgc3R5bGU9InN0b3AtY29sb3I6I0Y2RjZGNiIvPg0KCQkJCTxzdG9wICBvZmZzZXQ9IjAuNzk1NCIgc3R5bGU9InN0b3AtY29sb3I6I0VCRUJFQiIvPg0KCQkJCTxzdG9wICBvZmZzZXQ9IjAuODk3NSIgc3R5bGU9InN0b3AtY29sb3I6I0RBREFEQSIvPg0KCQkJCTxzdG9wICBvZmZzZXQ9IjAuOTgzOSIgc3R5bGU9InN0b3AtY29sb3I6I0M0QzRDNCIvPg0KCQkJCTxzdG9wICBvZmZzZXQ9IjEiIHN0eWxlPSJzdG9wLWNvbG9yOiNCRkJGQkYiLz4NCgkJCTwvbGluZWFyR3JhZGllbnQ+DQoJCQk8cGF0aCBmaWxsPSJ1cmwoI1NWR0lEXzRfKSIgZD0iTTM2Mi43NTYsMjgyLjcwNWgtNy40di01LjM4M2g3LjRjMjkuMDY5LDAsMzQuNzE0LTMuOTI4LDM0Ljg3Mi0xNi4zODcNCgkJCQljLTAuMTg2LTE0LjA4My01LjcxNC0xNi4wMzEtNDguMzI5LTE2LjAzMWgtOTEuOTU3djc2LjA0aDkwLjcyNWM0MS43MTgsMCw1MC44MDEtMi4zNTQsNTAuODAxLTIwLjc0Ng0KCQkJCUMzOTguODY4LDI4Ni45NjcsMzkzLjgyMSwyODIuNzA1LDM2Mi43NTYsMjgyLjcwNXogTTMwNy42OTQsMjU2LjQ2M2gyNS43OTVjMTAuMjA0LDAsMTIuMzM1LDEuNjgyLDEyLjMzNSw4LjA3NA0KCQkJCWMwLDcuOTYzLTEuMzQ1LDEwLjA5NC0xMi4zMzUsMTAuMDk0aC0yNS43OTVWMjU2LjQ2M3ogTTMzMy40ODksMzA3LjcxMmgtMjUuNzk1di0yMS4xOTRoMjUuNTY5DQoJCQkJYzEyLjY3MywwLDE0LjI0MiwyLjgwNCwxNC4yNDIsMTAuNDI5QzM0Ny41MDUsMzA1LjI0NSwzNDUuNDg3LDMwNy43MTIsMzMzLjQ4OSwzMDcuNzEyeiIvPg0KCQkJPGxpbmVhckdyYWRpZW50IGlkPSJTVkdJRF81XyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI0NzguNjU5MiIgeTE9IjMyMC42MDQ1IiB4Mj0iNDc4LjY1OTIiIHkyPSIyNDQuOTkyNyI+DQoJCQkJPHN0b3AgIG9mZnNldD0iMCIgc3R5bGU9InN0b3AtY29sb3I6I0ZGRkZGRiIvPg0KCQkJCTxzdG9wICBvZmZzZXQ9IjAuNDkxOSIgc3R5bGU9InN0b3AtY29sb3I6I0ZERkRGRCIvPg0KCQkJCTxzdG9wICBvZmZzZXQ9IjAuNjY5MSIgc3R5bGU9InN0b3AtY29sb3I6I0Y2RjZGNiIvPg0KCQkJCTxzdG9wICBvZmZzZXQ9IjAuNzk1NCIgc3R5bGU9InN0b3AtY29sb3I6I0VCRUJFQiIvPg0KCQkJCTxzdG9wICBvZmZzZXQ9IjAuODk3NSIgc3R5bGU9InN0b3AtY29sb3I6I0RBREFEQSIvPg0KCQkJCTxzdG9wICBvZmZzZXQ9IjAuOTgzOSIgc3R5bGU9InN0b3AtY29sb3I6I0M0QzRDNCIvPg0KCQkJCTxzdG9wICBvZmZzZXQ9IjEiIHN0eWxlPSJzdG9wLWNvbG9yOiNCRkJGQkYiLz4NCgkJCTwvbGluZWFyR3JhZGllbnQ+DQoJCQk8cG9seWdvbiBmaWxsPSJ1cmwoI1NWR0lEXzVfKSIgcG9pbnRzPSI0MDcuMjgsMjU5LjcxNSA0NTIuMDI1LDI1OS43MTUgNDUyLjAyNSwzMjAuOTQ0IDUwNS4xODMsMzIwLjk0NCA1MDUuMTgzLDI1OS43MTUgDQoJCQkJNTUwLjAzOSwyNTkuNzE1IDU1MC4wMzksMjQ0LjkwNCA0MDcuMjgsMjQ0LjkwNCAJCQkiLz4NCg0KCQkJPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTM5Ny42MjksMjYxLjAwNGMwLjAwMy0wLjIwMywwLjAwNi0wLjQwOCwwLjAwNi0wLjYxNWMwLTE0LjgwNS00LjkzNi0xNi44MjItNDguMzM2LTE2LjgyMmgtOTEuOTU3DQoJCQkJdjEuMzM4aDkxLjk1N0MzOTEuOTg0LDI0NC45MDQsMzk3LjQ2MSwyNDYuODU3LDM5Ny42MjksMjYxLjAwNHoiLz4NCgkJCTxyZWN0IHg9IjQwNy4yOCIgeT0iMjQzLjU2NiIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjE0Mi43NTkiIGhlaWdodD0iMS4zMzgiLz4NCjwvc3ZnPg==


	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 388.346 127.559">
<g>
	<rect fill="#CD0403" width="388.346" height="127.559"/>
	<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="194.1729" y1="2.9619" x2="194.1729" y2="35.9957">
		<stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0.5"/>
		<stop  offset="1" style="stop-color:#CD0403"/>
	</linearGradient>
	<rect x="2.834" y="2.834" fill="url(#SVGID_1_)" width="382.677" height="33.166"/>
	<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="194.1729" y1="99.5928" x2="194.1729" y2="124.6129">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000"/>
	</linearGradient>
	<rect x="2.834" y="99.72" opacity="0.2" fill="url(#SVGID_2_)" width="382.677" height="24.945"/>
	<g>
		<g>
			<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="175.0825" y1="-30.7646" x2="175.0825" y2="135.7971">
				<stop  offset="0" style="stop-color:#FFFFFF"/>
				<stop  offset="1" style="stop-color:#000000"/>
			</linearGradient>
			<path fill="url(#SVGID_3_)" d="M28.734,103.677v-77.38h91.959c43.4,0,48.334,2.018,48.334,16.822
				c0,12.896-5.383,16.934-34.877,16.934h-7.4v5.383h7.4c31.063,0,36.11,4.261,36.11,17.493c0,18.393-9.083,20.748-50.802,20.748
				H28.734z M79.087,57.362h25.794c10.989,0,12.336-2.131,12.336-10.094c0-6.391-2.131-8.074-12.336-8.074H79.087V57.362z
				 M79.087,90.443h25.794c12,0,14.018-2.467,14.018-10.766c0-7.625-1.57-10.429-14.242-10.429H79.087V90.443z M223.417,103.677
				V42.446h-44.745V26.297h142.759v16.148h-44.856v61.231H223.417z"/>
		</g>
		<g>
			<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="97.0811" y1="100.9194" x2="97.0811" y2="25.3071">
				<stop  offset="0" style="stop-color:#FFFFFF"/>
				<stop  offset="0.4919" style="stop-color:#FDFDFD"/>
				<stop  offset="0.6691" style="stop-color:#F6F6F6"/>
				<stop  offset="0.7954" style="stop-color:#EBEBEB"/>
				<stop  offset="0.8975" style="stop-color:#DADADA"/>
				<stop  offset="0.9839" style="stop-color:#C4C4C4"/>
				<stop  offset="1" style="stop-color:#BFBFBF"/>
			</linearGradient>
			<path fill="url(#SVGID_4_)" d="M131.732,63.02h-7.4v-5.383h7.4c29.069,0,34.714-3.928,34.872-16.387
				c-0.186-14.083-5.714-16.031-48.329-16.031H26.318v76.04h90.725c41.718,0,50.801-2.354,50.801-20.746
				C167.844,67.282,162.797,63.02,131.732,63.02z M76.67,36.778h25.795c10.204,0,12.335,1.682,12.335,8.074
				c0,7.963-1.345,10.094-12.335,10.094H76.67V36.778z M102.465,88.027H76.67V66.833h25.569c12.673,0,14.242,2.804,14.242,10.429
				C116.481,85.56,114.463,88.027,102.465,88.027z"/>
			<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="247.6353" y1="100.9194" x2="247.6353" y2="25.3071">
				<stop  offset="0" style="stop-color:#FFFFFF"/>
				<stop  offset="0.4919" style="stop-color:#FDFDFD"/>
				<stop  offset="0.6691" style="stop-color:#F6F6F6"/>
				<stop  offset="0.7954" style="stop-color:#EBEBEB"/>
				<stop  offset="0.8975" style="stop-color:#DADADA"/>
				<stop  offset="0.9839" style="stop-color:#C4C4C4"/>
				<stop  offset="1" style="stop-color:#BFBFBF"/>
			</linearGradient>
			<polygon fill="url(#SVGID_5_)" points="176.256,40.03 221.001,40.03 221.001,101.259 274.159,101.259 274.159,40.03 
				319.015,40.03 319.015,25.219 176.256,25.219 			"/>
		</g>
		<g>
			<path fill="#FFFFFF" d="M166.605,41.319c0.003-0.203,0.006-0.408,0.006-0.615c0-14.805-4.936-16.822-48.336-16.822H26.318v1.338
				h91.957C160.96,25.219,166.438,27.172,166.605,41.319z"/>
			<rect x="176.256" y="23.881" fill="#FFFFFF" width="142.759" height="1.338"/>
		</g>
	</g>
</g>
</svg>');
	
}

$font-family-base: "helvetica neue", helvetica, arial, sans-serif;
$font-family-header: 'Oswald', impact, sans-serif;

$col-news:				#cd0403;
$col-sport:				#c7db47;
$col-entertainment: 	#be84bd;
$col-health: 			#e17e00;
$col-health-alt:			#fc6;
$col-consumer: 			#00aeef;
$col-plus: 				#8fc447;

$yellow:				#fc0;
$gray-light: 			#f2f2f2;


$col-facebook: 			#4c66a4;


.img-responsive {
	max-width: 100%;
	height: auto;
}
.module-padding {
	padding: 1em 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.text-center {
	text-align: center;
}