.btn-facebook {
	@include btn($col-facebook, #fff, 16px, 1);
}
.btn-twitter {
	@include btn($col-twitter, #fff, 16px, 1);
}
.btn-transparent {
	@include btn(#eee, #666, 16px, 1);
}
.btn-news {
	@include btn($col-news, #fff, 16px, 1);
}
.btn-sm {
	font-size: 12px;
	line-height: 30px;
}
.btn-lg {
	font-size: 19px;
	line-height: 41px;
}
.btn-block {
	display: block;
	text-align: center;
	width: 100%;
}
