.btn-facebook {
	@include btn($col-facebook, #fff, 16px, 1);
	
}
.btn-sm {
	font-size: 12px;
	line-height: 30px;
}
.btn-lg {
	font-size: 19px;
	line-height: 41px;
}
.btn-block {
	display: block;
	text-align: center;
	width: 100%;
}
