.demomenu {
	z-index: 99;
	display: inline-block;
	list-style: none;
	width: 160px;
	position: fixed;
	top: 0;
	left: 0;
	opacity: .1;
	margin: 0;
	padding: 0;
	transition : opacity .2s ease;
	&:hover {
		opacity: 1;
	}
	li {
		background-color: #000;
		display: block;
		font-size: 14px;
		padding: 0 10px;
		line-height: 1.7;
		border-bottom: 1px solid rgba(255,255,255,.5);
		&:hover {
			background-color: #333;
		}
		a {
			color: #fff;
			text-decoration: none;
			display: block;
		}
		&.empty {
			font-size: 12px;
			color: orange;
			font-weight: 600;

		}
	}

}

h1.demo {
	font-size: 70px;
	font-weight: 400;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	margin-top: 40px;
	text-transform: uppercase;
	
}
.demo small {
	color: #999;
}
h2.demo {
	font-size: 50px;
	font-weight: 100;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}
h3.demo {
	font-size: 30px;
	font-weight: 100;
	
	margin-bottom: 20px;	
}