.list {
	@extend .header-font;
	list-style: none;
	margin: 0;
	padding: 0;
	.header {
		line-height: 1.4;
	}
	li {
		margin: 0 0 1em;
		font-weight: normal;
	}
}

.clean {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
	}
}

.list-top {
	counter-reset: counter;
	li {
		padding-left: 1.5em;
		&:before {
			display: inline-block;
			width: 1.5em;
			margin-left: -1.5em;
			float: left;
			line-height: 1.4;
			color: rgba(0,0,0,.2);
			counter-increment: counter;
			content: counter(counter);
		}
	}
}
.list-top-cirle {
	counter-reset: counter;
	figure {
		position: relative;
		
		&:after {
			display: inline-block;
			width: 35px;
			height: 35px;
			left: -10px;
			
			font-size: 16px;
			border: 3px solid #fff;
			font-weight: 600;
			position: absolute;
			bottom: -16px;
			background-color: $col-facebook;
			line-height: 35px;
			color: #fff;
			counter-increment: counter;
			content: counter(counter);
			border-radius: 50%;
			text-align: center;
			@extend .header-font;
		}
	}
}

.list-time {
	li {
		padding-left: 3em;
	}
	time {
		display: inline-block;
		margin-left: -3em;
		width: 3em;
		float: left;
		line-height: 1.4;
		color: $col-news;
	}
}

.list-border {
	li {
		border-bottom: 1px solid rgba(0,0,0,.1);
		padding-bottom: .5em;
		margin-bottom: .5em!important;
	}
}
.box {
	@extend .clearfix;
	padding: 20px;
	margin-bottom: 2em;
}



/* 
1. $background-color: $gray-light
2. $title-color: $col-news
3. $header-color: #000
4. $btn-background-color: $col-news,
5. $btn-text-color: #fff
6: counter-color: false;
*/

.box-theme-1 {
	@include box-theme($gray-light, $col-news, #000);
}

.box-theme-2 {
	@include box-theme($gray-light, #000, #000);
}

.box-theme-3 {
	@include box-theme(transparentize($yellow, 0.9), #000, #000);
	.load-more:hover {
		color: #fff;
	}
}
// Video
.box-theme-4 {
	@include box-theme(#000, #fff, #fff, $col-news);
	.teaser-border {
		border-color: rgba(255,255,255,.4);
	}
}

// Gaffa
.box-theme-5 {
	@include box-theme(#740075, #ffe300, #fff, #ffe300, #000, $counter-color: #ffe300);
	.load-more:hover {
		// color: #fff;
	}
}

// Sport
.box-theme-6 {
	@include box-theme($col-sport, #000, #000, #000, #fff);
	.load-more:hover {
		// color: #fff;
	}
}


/*.box-theme-6 {
	@include box-theme(#f9bf00, #e45000, #fff);
	.load-more:hover {
		color: #fff;
	}
}*/

.teaser-list-300 {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	li {
		width: 310px;
		float: left;
		display: inline-block;
		margin: 0 0 30px;
		padding: 0 20px 0 0;
		&:nth-child(odd) {
			clear: left;
		}
	}
}
.box .teaser-list-300 {
	li {
		width: 290px;
	}
}

.box-icon-video {
	position: relative;
	.box-title:before {
		display: inline-block;
		background-color: $col-news;
		color: #fff;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 30px;
		content: '\e820';
		font-family: bt-icons;
		text-align: center;
		border-radius: 50%;
		margin: 0 auto;
		position: absolute;
		top: -20px;
		left: 50%;
		margin-left: -20px;
	}
}


.box-small {
	padding: 20px;
	.box-title {
		font-size: 33px;
	}
}
.box-small-alt {
	padding: 20px;
	.box-title {
		font-size: 33px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.box-title {
	font-weight: 300;
	font-size: 44px;
}

.list-blogs {
	list-style-type: none;
	margin: 0;
	padding: 0;
	clear: left;
	li {
		margin: 0 0 25px;
		padding: 0 20px 0 70px!important;
		width: 50%;
		float: left;
		line-height: 1.4;
		&:nth-child(odd) {
			clear: left;
		}
	}
	figure {
		float: left;
		margin-left: -70px;
	}
	.header {
		overflow: hidden;
	}
	
	img {
		border-radius: 50%; 
	}
}

.tabs {
	@extend .clearfix;
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
	background-color: #fff;

	li {
		display: inline-block;
		float: left;
		font-size: 33px;
		@extend .header-font;
		clear: none;
		padding: 20px 20px 0.67em;
		margin: 0 0 0;
		text-transform: uppercase;
		font-weight: 600;
	}
	.tab-active {
		background-color: $gray-light;
		a {
			color: #000;
		}
	}
}
.tab-comments {
	position: relative;
	span {
		cursor: pointer;
	}
}
.tab-content {
	display: none;
}
.tab-content-active.tab-content {
	display: block;
}
.related-mega {
	@extend .header-font;
	@extend .clearfix;
	margin: 15px 0 0 0;
	padding: 0;
	list-style: none;
	li {
		margin: 0 0 10px;
		padding: 0;
		font-size: 22px;
		font-weight: 600;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.teaser-body {
		overflow: hidden;
	}
	figure {
		float: left;
		margin: 0 10px 0 0
	}
}
.teaser-topstory {

	.related-mega {
		@extend .clearfix;
		li {
			width: 50%;
			float: left;
			&:nth-child(odd) {
				clear: left;
			}
		}

	}
}
.teaser:not(.teaser-topstory) {
	.related-mega {
		li {
		 @extend .clearfix;	
		}
	}
}

.grid_8 {
	.related-mega {
		li {
		 font-size: 16px;
		 font-weight: 400;
		}
	}
	.related {
		li {
		 font-size: 16px;

		}
	}	
}

.related {
	list-style: none;
	padding: 0;
	margin: 10px 0 0 0;
	line-height: 1;
	li {
		@extend .header-font;
		margin: 0 0 20px;
		font-size: 19px;
		display: inline;
		line-height: 1.4;
		padding-right: 5px;
		&:last-child {
			margin-bottom: 0;
		}

		&.mega {
			padding-left: 135px;
			font-size: 29px;
			font-weight: 600;
		}
		strong {
			text-transform: uppercase;
			color: $col-news;
		}
		.highlight {
			font-weight: 600;
		}
		i:before {
			transform: translateY(-2px);
		}
	}
	a {
		display: inline;
		&:before {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 6px 0 0;
			background-color: $col-news;
			content: '';
			position: relative;
			bottom: 3px;

		}
	}
	figure {
		margin-left: -135px;
		float: left;
	}
}
