@charset "UTF-8";
 
 @import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
 @import "_normalize.scss";
 @import "demo.scss";
 @import "grid_24.scss";

@import "forms.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "header.scss";
@import "fonts.scss";
@import "lists.scss";
@import "buttons.scss";
@import "topdeck.scss";
@import "royalslider2.scss";
@import "bt-hacks.scss";

[class*="col_"] {
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-row {
	margin-right: -15px;
	margin-left: -15px;
	@extend .clearfix;
}
.col_1 {
	width: 8.33333333%;
}
.col_2 {
	width: 16.66666667%;
}
.col_3 {
	width: 25%;
}
.col_4 {
	width: 33.33333333%;
}
.col_5 {
	width: 41.66666667%;
}
.col_6 {
	width: 50%;
}
.col_7 {
	width: 58.33333333%;
}
.col_8 {
	width: 66.66666666%;
}
.col_9 {
	width: 75%;
}
.col_10 {
	width: 83.33333333;
}
.col_11 {
	width: 91.66666667%;
}
.col_12 {
	width: 100%;
}

.demo-teaser {
	background-color: #eee;
	

	text-align: center;
	span {
		display: inline-block;
		padding: 50px 0;

		vertical-align: middle;
		
		color: #999;
		font-weight: 600;
		text-shadow: 1px 1px 1px #fff;
		font-family: $font-family-header;
	}
}

/*.row {
	margin-left: -10px;
	margin-right: -10px;
}*/
* {
	box-sizing: border-box;
}
body {
	font-family: $font-family-base;
	font-size: 19px;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: $col-news;
	&:hover {
		text-decoration: underline;
		color: darken($col-news, 5%);
	}
}


.img-responsive {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
.alpha {
	clear: left;
}

.mb-0 {
	margin-bottom: 0!important
}
.mb-5 {
	margin-bottom: 5px;
}
.mb-10 {
	margin-bottom: 10px!important;
}
.mb-20 {
	margin-bottom: 20px!important;
}
.mb-40 {
	margin-bottom: 40px!important;
}
.mt-0 {
	margin-top: 0!important
}
.mt-20 {
	margin-top: 20px!important
}
.mt-40 {
	margin-top: 40px!important
}

.hidden {
	display: none;
}
.text-right {
	text-align: right;
}
.bb-20 {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

h1, h2, h3, h4, h5, h6 {
	@extend .header-font;
}


.banner {
	text-align: center;
	line-height: 0;
}
.topbanner {
	margin: 0 auto 10px;
	position: relative;
	width: 960px;
	line-height: 0;
	.banner-left,
	.banner-right {
		position: absolute;
		width: 160px;
		height: 600px;
		top: 0;
		background-color: rgba(0,0,0,.05);
	}
	.banner-left {
		position: absolute;
		left: -160px;
	}
	.banner-right {
		position: absolute;
		right: -160px;
	}
}




.highlight {
	background: transparent;
}
.article-main span .category {
	@extend .header-font;
	display: inline-block;
	position: relative;
	color: #fff;
	font-size: 14px;
	line-height: 1.4;
	text-transform: uppercase;
	font-weight: normal;
	padding: 0 6px;
	text-decoration: none;
	
	z-index: 99;
	&:hover {
		text-decoration: none;
	}
}

.cat-plus + .article-date {
	line-height: 1.4;
	margin-left: 10px;
	display: inline-block;
}


.article-main .cat-plus,
.teaser {
	position: relative;
	margin-bottom: 20px;
	img {
		transition: opacity .1s ease;
		@extend .img-responsive;
		&:hover {
			opacity: .9;
		}
	}
	footer {
		@extend .header-font;
		color: rgba(0,0,0,.4);
		font-size: 13px;
		margin-top: 5px;
	}
	.category {
		@extend .header-font;
		display: block;
		position: relative;
		color: #fff;
		font-size: 14px;
		line-height: 1.4;
		text-transform: uppercase;
		font-weight: normal;
		padding: 0 6px;
		text-decoration: none;
		margin-top: -15px;
		margin-bottom: 5px;
		float: left;
		z-index: 99;
		&:hover {
			text-decoration: none;
		}
	}
	&> .category {
		margin-top: 0;
	}
	figure + .category {
		margin-top: -11px;
	}
	.header {
		margin-top: 0;
		clear: left;
		line-height: 1.05;
		margin-bottom: 5px;
		> a {
			color: #000;
			font-weight: normal;
		}
		i:before {
			transform: translateY(-.1em);
		}
	}
	figure {
		line-height: 0;
	}

	p {
		@extend .subheader-font;
		font-weight: normal;
		margin: 10px 0 0;
		font-size: 19px;
		line-height: 1.2;
		
	}
	a {
		color: #000;
		&:hover {
			color: #000;
		}
	}
}


.teaser-external {
	padding-top: 30px!important;
	figure {
		margin-top: -30px;
	}
	.category {
		display: none!important;
	}

	.header {
		position: relative;
		a:before {
			font-size: 14px;
			@extend .header-font;
			position: relative;
			color: #fff;
			display: inline-block;
			line-height: 1.4;
			text-transform: uppercase;
			font-weight: normal;
			padding: 0 6px;
			text-decoration: none;
			margin-bottom: 5px;
			z-index: 99;
			background-color: #000;
			text-decoration: none;
			position: absolute;
			top: -24px;
			left: 0;
		}
	}
	figure {
		margin-bottom: 15px;
	}
}


.teaser-external .header a[href^="http://www.business.dk"],
.teaser-external .header a[href^="http://business.dk"] {
	&:before {
		content: 'Business.dk';
	}
}
.teaser-external .header a[href^="http://bt.bilen.dk"],
.teaser-external .header a[href^="http://www.bilen.dk"],
.teaser-external .header a[href^="http://bilen.dk"] {
	&:before {
		content: 'Bilen.dk';
	}
}

.teaser-external .header a[href^="http://www.aok.dk"],
.teaser-external .header a[href^="http://aok.dk"] {
	&:before {
		content: 'Aok.dk';
	}
}
.teaser-external .header a[href^="http://www.bite.dk"],
.teaser-external .header a[href^="http://bite.dk"] {
	&:before {
		content: 'Bite.dk';
		background-color: darken($col-bite-1, 30%);
		
	}
}
.teaser-external .header a[href^="http://www.politiko.dk"],
.teaser-external .header a[href^="http://politiko.dk"] {
	&:before {
		content: 'Politiko.dk';
	}
}
.teaser-external .header a[href^="http://www.sweedteal.dk"],
.teaser-external .header a[href^="http://sweetdeal.dk"] {
	&:before {
		content: 'Sweetdeal';
	}
}
.teaser-external .header a[href^="http://www.b.dk"],
.teaser-external .header a[href^="http://b.dk"] {
	&:before {
		content: 'Berlingske.dk';
	}
}
.teaser-external .header a[href^="http://lidtmere.dk"],
.teaser-external .header a[href^="http://www.btshop.dk"],
.teaser-external .header a[href^="http://www.lidtmere.dk"],
.teaser-external .header a[href^="http://lidtmere.dk"] {
	&:before {
		content: 'BT Tilbud';
		background-color: $col-news;
	}
}

.teaser-external .header a[href^="http://blogs.bt.dk"] {
	&:before {
		content: 'Blogs.bt.dk';
		background-color: $col-news;	
	}
}
.teaser-editorial.teaser-external .header a:before {
	display: none;
}

[class*="grid_"] .teaser:last-child {
	margin-bottom: 20px;
}
.teaser-editorial {
	
	.category {
		display: none;
	}
	.header {
		font-size: 35px;
		margin-top: 0!important;
		&:before {
			display: block;
			content: 'MENER:';
			@extend .bt-logo;
			padding-left: 75px;
			font-size: 19px;
			background-size: contain;
			height: 22px;
			margin: 0 0 5px;
			line-height: 1.3;
		}
		
	}
}
.editorial-tag {
	@extend .bt-logo;
	background-position: left center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 25px;
	@extend .header-font;
	padding-left: 80px;	
	text-transform: uppercase;
	
}


.no-cat .teaser .header {
	margin-top: .5em;
}

.teaser-regular {
	.header {
		font-weight: 400;
	}
}
.teaser-border {
	border-bottom: 1px solid rgba(0,0,0,.4);
	padding-bottom: 10px;
	margin-bottom: 10px;
	figure {
		margin-bottom: 10px;
	}
	.header {
		margin-top: 0;
	}
}


.teaser-body {
	overflow: hidden;
}
.topic-teaser {
	img {
		float: left;
		margin-right: 10px;		
	}
	.header-teaser {
		color: #000;
		line-height: 1.2;
	}
}
.topic-teaser,
.teaser-img-left-100 {
	figure {
		float: left;
		margin-right: 10px;
	}
	.category {
		margin: 0;
		float: none;
		display: inline-block;
	}
	
	.header-teaser,
	.header {
		clear: inherit;
		margin: 0;
		@extend .subheader-font;
	}
}
.teaser-list-300 {
	@extend .subheader-font;
	font-size: 22px!important;
}
.teaser-bb {
	margin-bottom: 5px!important;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
	@extend .clearfix;
}
.teaser-bt {
	margin-top: 5px!important;
	padding-top: 5px;
	border-top: 1px solid #ddd;
	@extend .clearfix;
}
.teaser-img-left {
	clear:left;
	figure {
		float: left;
		max-width: 200px;
		margin: 0 10px 0 0;
	}
	h1 {
		clear: none!important;
	}
}

.teaser-light {
	.header {
		font-weight: 300;
	}
}


.teaser-blogs {
	font-family: $font-family-header;

	.teaser-byline {
		font-size: 12px;
		font-weight: normal;
		color: $col-news;
		text-transform: uppercase;
		
	}
	.header {
		color: #000;
		font-size: 21px;
		font-weight: normal;
	}
}



.cat-bttilbud,
.cat-news {
	@include cat($col-news);
}
.cat-bttilbud {
	.category {
		@extend .bt-logo-flat;	
		max-height: 19px;
		background-size: 45px;
		padding-left: 55px;
		line-height: 1.4;
		
		
		background-position: left 5px center;

	}
	
	
	
}
.cat-breaking {
	@include cat($col-breaking, #000);
}
.cat-sweetdeal {
	@include cat(#003864, #fff);
}
.cat-sport {
	@include cat($col-sport, #000);
}

.cat-entertainment {
	@include cat($col-entertainment);
}

.cat-health {
	@include cat($col-health);
}

.cat-consumer {
	@include cat($col-consumer);
}

.cat-plus {
	@include cat($col-plus, #fff);
}
.teaser.cat-plus .header:after {
  background: none repeat scroll 0 0 #8fc447;
  clear: left;
  color: #fff;
  content: "PLUS";
  @extend .header-font;
  display: inline-block;
  font-size: 11px;
  margin-right: 2px;
  padding: 1px 4px;
  position: relative;
  text-transform: uppercase;
  line-height: 1.1;
  top: -3px;
}


/*.plus-label {
  position: relative;
  &:after {
  	content: '\e801';
  	font-family: bt-icons;
  	background-color: $col-plus;
  	width: 16px;
  	height: 16px;
  	border-radius: 50%;
  	color: #fff;
  	line-height: 16px;
  	text-align: center;
  	display: inline-block;
  	font-size: 14px;
  }
}

.plus-label{
	:before {
		display: inline-block;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: #8fc447;
		content: '\e801';
		font-size: 13px;
		line-height: 16px;
		text-align: center;
		font-family: bt-icons;
		color: #fff;
		vertical-align: middle;
	}
	i {
		color: #fff;
	}
}
*/

.no-price .plus-label {
  display: none;
}
h4.sub.header + .plus-label {
  top: -4px;
}



.header-paradise-hotel,
.header-live {
  top: -2px;
  left: -5px;
  position: absolute;
  &:after {
  	content: 'Opdateres';
  	display: inline-block;
  	@extend .header-font;
  	background-color: $col-news;
  	color: #fff;
  	padding: 3px 5px;
  	font-size: 18px;
  	line-height: 1;
  	text-transform: uppercase;
  	z-index: 99;
  }
}

.header-live:after {
	content: 'Live';
}


.live-no-image .header-paradise-hotel,
.live-no-image .header-live {
  position: inherit;
  left: 10px;
  top: 0;
}
.teaser-flat .header-paradise-hotel,
.teaser-flat .header-live {
  top: 5px;
}

.grid_8 .header-live,
.grid_6 .header-live,
.grid_5 .header-live,
.grid_4 .header-live {
  width: 80px;
  height: 26px;
  background: url(images/live-header-small.gif) top center no-repeat #cd0403;
}



[class*="teaser-tag-"]{
	display: inline-block;
	padding: 3px 5px;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1;
	@extend .header-font;
	font-weight: normal;
	z-index: 99;
	i:before {
		transform: translateY(-1px);
	}
	b {
		@extend .bt-logo-flat;
		background-position: right 5px center;
		display: inline-block;
		width: 60px;
		height: 24px;
		background-size: 45px;
		background-color: $col-news;
		margin: -3px 10px -3px -5px;
		float: right;
	}
}
[class*="teaser-tag-"] + .category {
	display: none!important;
}
figure [class*="teaser-tag-"] {
	position: absolute;
	top: 0;
	left: 5px;
}
.teaser > [class*="teaser-tag-"] {
	margin-bottom: 4px;
}
.teaser-tag-tip {
	@include teaser-tag($col-breaking, #000, #000);	
	background-color: #000;
	color: #fff;
	b {
		margin: -3px -5px -3px 10px;
	}
}

.teaser-tag-btspecial {
	@include teaser-tag(#000, #fff, #fff);	
	b {
		background-color: $col-news;
		margin: -3px 5px -3px -5px;
		float: left;
		background-position: left 5px center;
		width: 55px;

	}
}
.teaser-tag-breaking {
	@include teaser-tag($col-breaking, #000, #000);	
}
.teaser > .teaser-tag-breaking {
	background-color: #000;
	color: $col-breaking;
}
.teaser-tag-live, 
.teaser-tag-comingup {
	@include teaser-tag($col-news, #fff, #fff);	
}


.cat-sport .teaser-tag-live {
	@include teaser-tag($col-news, #fff, #fff);	
}


.font-1 .header {
	font-size: 28px;
}
.font-2 .header {
	font-size: 26px;
}
.font-3 .header {
	font-size: 24px;
}
.font-4 .header {
	font-size: 22px;
}
.font-5 .header {
	font-size: 20px;
}
.font-6 .header {
	font-size: 18px;
}


.grid_24 {
	.teaser .header {
		font-size: 55px;
	}
	.teaser.font-1 .header {
		font-size: 65px;	
	}
	.teaser.font-2 .header {
		font-size: 60px;	
	}
	.teaser.font-3 .header {
		font-size: 55px;	
	}
	.teaser.font-4 .header {
		font-size: 50px;	
	}
	.teaser.font-5 .header {
		font-size: 45px;	
	}
	.teaser.font-6 .header {
		font-size: 40px;	
	}
}

.grid_16 {
	.teaser .header {
		font-size: 55px;
	}
	.teaser.font-1 .header {
		font-size: 65px;	
	}
	.teaser.font-2 .header {
		font-size: 60px;	
	}
	.teaser.font-3 .header {
		font-size: 55px;	
	}
	.teaser.font-4 .header {
		font-size: 50px;	
	}
	.teaser.font-5 .header {
		font-size: 45px;	
	}
	.teaser.font-6 .header {
		font-size: 40px;	
	}
	.teaser.font-7 .header {
		font-size: 24px;
	}
}

.grid_8 {

	.teaser.font-1 .header {
		font-size: 40px;	
	}
	.teaser.font-2 .header {
		font-size: 35px;	
	}
	.teaser .header, 
	.teaser.font-3 .header {
		font-size: 30px;	
	}
	.teaser.font-4 .header {
		font-size: 27px;	
	}
	.teaser.font-5 .header {
		font-size: 24px;	
	}
	.teaser.font-6 .header {
		font-size: 18px;	
	}
	
}
.grid_8 li.teaser .header {
	font-size: 18px;
}
.list-blogs li.teaser .header,
.grid_5ish .teaser .header {
	font-size: 24px;
}

.grid_5ish,
.grid_6,
.grid_5 {
	.teaser.font-1 .header {
		font-size: 28px;
	}
	.teaser.font-2 .header {
		font-size: 26px;
	}
	.teaser .header, 
	.teaser.font-3 .header {
		font-size: 24px;
	}
	.teaser.font-4 .header {
		font-size: 22px;
	}
	.teaser.font-5 .header {
		font-size: 20px;
	}
	.teaser.font-6 .header {
		font-size: 18px;
	}
}



.teaser-topstory {
	p {
		font-size: 25px;
		
		line-height: 1.2;
	}
}
.teaser-topstory.font-1 .header {
	font-size: 80px;
}
.teaser-topstory.font-2 .header {
	font-size: 50px;
}

.row {
	@extend .clearfix;
}

.loader {
	background: url('data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzMyLjk2NiAzMzIuOTMzIj4NCjxwYXRoIGZpbGw9IiNDRDA0MDMiIGQ9Ik01MS4wNzcsNTFjLTYzLjc0NSw2My43NDUtNjMuNzQ1LDE2Ny4wOTksMCwyMzAuODQ0YzUwLjc3MSw1MC43NywxMjYuNjQ5LDYxLjA1NywxODcuNjQ4LDMwLjk1NQ0KCWwtMjYuNzY3LTM4LjU2NWMtNDIuNTQ2LDE3LjkyMi05My41MzIsOS41NzktMTI4LjE5MS0yNS4wNzljLTQ1LjY5MS00NS42OTEtNDUuNjktMTE5Ljc3MywwLTE2NS40NjQNCgljNDUuNjkyLTQ1LjY5MiwxMTkuNzc0LTQ1LjY5MywxNjUuNDY2LTAuMDAyYzM0LjY1OSwzNC42NTksNDMuMDAyLDg1LjY0NCwyNS4wOCwxMjguMTlsMzguNTYzLDI2Ljc2OQ0KCUMzNDIuOTc5LDE3Ny42NDgsMzMyLjY5LDEwMS43NjksMjgxLjkyMiw1MUMyMTguMTc3LTEyLjc0NiwxMTQuODIzLTEyLjc0NSw1MS4wNzcsNTF6Ii8+DQo8L3N2Zz4=') center center no-repeat;
	background-size: 25px 25px;
	margin: 0 auto 5px;
	display: inline-block;
	width: 25px;
	height: 25px;
	animation: spin 2s linear infinite;
}
.loader-container {
	@extend .text-center;
	margin: 40px 0 80px;
	span {
		display: block;
		text-transform: uppercase;
		@extend .header-font;
		font-size: 14px;
		color: #999;
	}
}

.section-header {
	position: relative;
	h1 {
		font-size: 50px;
		border-bottom: 4px solid #000;
		margin: 0;
		.small {
			@extend .subheader-font;
			font-size: 80%;
		}
	}
	h2 {
		font-size: 35px;
		border-bottom: 1px solid #000;
		margin: 0;
		.small {
			@extend .subheader-font;
			font-size: 80%;
		}
	}
}
.section-menu {
	@extend .clearfix;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.list_5ish {
	margin: 0;
	padding: 0;
	list-style: none;	
}
.grid_5ish {
	width: 193px;
	float: left;
	margin-bottom: 30px;
	position: relative;
	margin-right: 20px;
	&:nth-child(3n+1) {
		clear: left;
		margin-right: 20px;
		
	}
	&:nth-child(3n+0) {
		margin-right: 0;
		
	}
	&:after {
		content: '';
		background-color: #ddd;
		height: 1px;
		position: absolute;
		top: -30px;
		left: 0;
		right: 0;
	}
	.teaser figure {
		margin-top: -20px;
	}
}



.deck-menu {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
	a {
		display: block;
		color: #000;
		text-decoration: none;
		padding: 4px 8px;
	}

	&> li {
		@extend .subheader-font;
		display: inline-block;
		margin-right: 5px;
		font-size: 16px;
		text-transform: uppercase;
		position: relative;
		&:first-child {
			a {
				padding-left: 0;
			}
		}
		&.menu-more {
			.icon-angle-down {
				color: #000;
			}
			ul {
				display: none;
				width: 160px;
				position: absolute;
				right: 0;
				top: 40px;
				list-style: none;
				margin: 0;
				padding: 0;
				z-index: 99;
				li {
					background-color: $gray-light;
					a {
						text-decoration: none;
						color: #000;
						border-top: 1px solid rgba(0,0,0,.05);
					}
					&:first-child a {
							border-top: 0;
						}

				}
			}
			&.active {
				ul {
					display: block;
				}
			}
			
		}
	}

}

.topic {
	.deck-menu {
		background-color: #000;
		&> li {
			background-color: #000;
			border-right: 1px solid rgba(255,255,255,.2);
			&:first-child {
				padding-left: 8px;
			}

			a {
				color: #fff;
			}
		}
		.menu-more .icon-angle-down {
			color: #fff;
		}
		
	}
}


.deck-footer {
	position: relative;
	margin-bottom: 20px;
}

.box > .deck-footer {
	height: auto;
	margin-bottom: 0;
}
.load-more {
	background-color: rgba(0,0,0,.05);
	position: relative;
	padding: 7px 20px;
	border-bottom: 2px solid rgba(0,0,0,.2);
	color: #000;
	display: inline-block; 
	font-size: 90%;
	
	z-index: 3;
	text-decoration: none;
	transition: all .1s ease;
	// box-shadow: 2px 1px 4px rgba(0,0,0,.25);
	@extend .header-font;
	text-transform: uppercase;
	&:hover{
		text-decoration: none;
		background-color: rgba(0,0,0,.08);
		color: #000;
	}
	&:active {
		//box-shadow: 0 0px 0px rgba(0,0,0,.20);
	}

}
.deck {
	@extend .clearfix;
	margin-bottom: 4em;
	
}
.deck-alt {
	.deck-header {
		background: #fff;
		margin-left: -10px;
		margin-right: -10px;
		margin-top: -20px;
		text-transform: none;
		margin-bottom: 10px;
		a span {
			color: #000;
		}	
	}
	
}

.deck-header {
	font-size: 54px;
	font-weight: 300;
	line-height: 1;
	margin: 0 0 15px;
	position: relative;
	@extend .subheader-font;
	strong {
		@extend .header-font;
	}
	i:before {
		/*transform: translateY(-.1em);*/
	}
	a {
		text-decoration: none;
	}
	.slash {
		color: rgba(0,0,0,.2);
	}
	
}

.deck-header-right {
	float: right;
	font-size: .5em;
	vertical-align: text-bottom;
	bottom: .2em;
	position: absolute;
	right: 0;
	color: #000;
	a {
		color: #000;
		text-decoration: none;
		&:hover{
			opacity: .8;
		}
	}
}


.deck-border-bottom {
	border-bottom: 4px solid rgba(0,0,0,.05);
}
.no-cat .category {
	display: none;
}
.no-summary .teaser p {
	display: none;
}



[class*="deck-background"]{
	padding-top: 1em;
	background-color: $gray-light
}


/*
DECKS:
1  $col-background: #eee
2  $background-trans: 0 
3  $col-header-link: #cd0403
4  $col-header-regular: #000
5  $font-small-color: #000
6  $headernav-link-color: false
7  $slash-color: false
8  $category-background-color: false
9  $category-text-color: false
10 $menu-color-hover:$col-header-link
*/
.deck .related-mega li {
	width: 50%;
	float: left;
	&:nth-child(odd){
		clear: left;
	}
}
.deck .grid_8 .related-mega li {
	width: 100%;
	float: none;
}
.deck-breaking-black {
	@include deck(#000, 0, $col-breaking, #fff, #fff, #fff, $col-breaking);
	.related a:before {
		background-color: $col-breaking;
	}
	[class*="icon-"]:before, .highlight {
		color: $col-breaking;
	}
}

.deck-breaking {
	@include deck($col-breaking, 0, #000, $col-news, #000, #000, $col-breaking, $menu-color-hover: $col-news, $category-text-color: #fff);
}
.deck-black {
	@include deck(#000, 0, $col-news, #fff, #fff, #fff, $col-news, $category-text-color: #fff);
}

.deck-news {
	@include deck($col-news, 0, #000, #fff, #fff, #fff, #000, $category-text-color: #fff);
	.highlight {
		color: #000;
	}
	.related a:before {
		background-color: #000;
	}
	[class*="icon-"]:before, .highlight {
		color: #000
	}
}

.deck-sport {
	@include deck(#333, 0, $col-sport, #fff, #fff, $headernav-link-color: #fff, $slash-color: #999, $category-background-color:$col-sport, $category-text-color: #000);
}

.deck-consumersales {
	@include deck(#eee, 0, $col-news, #000, #000, $headernav-link-color: #fff, $slash-color: #999, $category-text-color: #fff);
	.header {
		font-weight: 300;
	}
}

.deck-entertainment {
	@include deck(#eee, 0, $col-entertainment, #000, #000, $headernav-link-color: #000, $slash-color: #999, $category-text-color: #fff);
}
.deck-health {
	@include deck($col-health-alt, .4, $col-health, $category-text-color: #fff);
	.header {
		font-weight: 400;
	}
}
.deck-consumer {
	@include deck($col-consumer, .85, $col-consumer, #000, #000, #000, $category-text-color: #fff);
}
.deck-plus {
	@include deck($gray-light, .0, $col-plus, $category-text-color: #fff);
}

.deck-blogs {
	@include deck($gray-light, .0, $col-news, $category-text-color: #fff);
}


.bite-header a {
	background: url(../images/bite-logo.gif) left center no-repeat; 
	width: 100px;
	height: 56px;
	text-indent: -9999px;
	display: inline-block;
}

.deck-bite {
	position: relative;
	// background: linear-gradient(to right, $col-bite-1 0, $col-bite-1 321px, $col-bite-2 322px, $col-bite-2 640px, $col-bite-3 641px);
	background: $col-bite-1;
	z-index: 20;
	.load-more {
		background-color: $col-bite-3;
	}
	figure {
		background-color: $col-bite-1;
	}

	.teaser {
		padding-top: 20px;
	}
	
	
	img {
		opacity: .5;
		filter: grayscale(1);
		
		&:hover {
			filter: grayscale(0);
			opacity: 1;
		}
	}
	&.deck-alt {
		.deck-heaader strong {
			color: $col-bite-2;
		}
	}
	
}


.boubles-tricker {
	color: #000;
	position: relative;
	&:hover {
		color: $col-bite-1;
	}
	

}



.live-widget-soccer {
	@extend .header-font;
	float: right;
	display: inline-block;
	background-color: #333;
	padding: 10px;
	color: #fff;
	position: relative;
	margin-bottom: 5px;
	width: 100%;
	&+ .live-widget-soccer {
		border-top: 1px solid rgba(255,255,255,.1);
	}
	span {
		display: inline-block;
		vertical-align: middle;
	}

	.live-label {
		
		font-size: 12px;
		position: absolute;
		left: 10px;
		top: 8px;
		color: $col-sport;
		display: inline-block;
		z-index: 99;
		height: 14px;
		padding-right: 15px;
		
		&:before {
			position: absolute;
			right: 0;
			top: 0;
			width: 14px;
			height: 14px;
			content: '';
			font-family: bt-icons;
			display: inline-block;
			animation: scaleout 1.0s infinite ease-in-out;
			background-color: $yellow;
			border-radius: 50%;
			z-index: 99;
		}
	}
	.dash {
		display: none;
		
	}
	.team-container {
		padding-top: 20px;
		width: 65%;
		float: left;
	}
	.team {
		line-height: 20px;
		font-size: 15px;
		overflow: hidden;
		display: block;

	}
	
	
	.score-container {
		width: 35%;
		float: left;
		padding-top: 20px;
		text-align: right;
		padding-bottom: 5px;
		span {
			font-weight: 400;
			font-size: 30px;
			line-height: 30px;
			background-color: #000;
			color: #fff;
			text-align: center;
			display: inline-block;
			padding: 5px;
			margin-bottom: 3px;
			position: relative;
			&:first-child{
				margin-right: 10px;
				&:after {
					display: block;
					width: 5px;
					height: 3px;
					background-color: #fff;
					content: '';
					position: absolute;
					right: -9px;
					top: 18px;
				}
			}
		}
	}

	.remaining {
		
		clear: left;
		display: block;
		background-color: rgba(255,255,255,.2);
		height: 6px;
		margin: 10px 0 0 0;
		top: 0px;
		position: relative;
		display: block;


		&:after {
			position: absolute;
			left: 50%;
			width: 2px;
			height: 6px;
			top: 0;
			background-color: #333;
			content: '';
			z-index: 99;
			display: inline-block;
		}
		.time {
			background-color: $yellow;
			display: inline-block;
			width: 70%;
			height: 5px;
			position: absolute;
			left: 0;

		}
	}
}

// ARTICLE 


.article-content {
	.box {
		margin-bottom: 20px;
	}
	p {
		margin: 0 0 20px;
	}
	figure {
		position: relative;
	}

	blockquote {
		@extend .subheader-font;
		font-size: 24px;
		margin: 20px 0;
		padding: 0 0 0 40px;
		.icon-quote {
			color: $col-news;
			@extend .header-font;
			font-style: normal;
			float: left;
			display: inline-block;
			margin: 0 0 0 -40px;
			font-size: 60px;
			line-height: 1;

			&:after {
				content: open-quote;
			}

		}
	}

}
#thread-subscribe-button {
	display: none;
}
.article-image {
	margin-bottom: 2em;
	position: relative;
	img {
		@extend .img-responsive;
	}
	.image-caption {
		font-size: 13px;
		color: #333;
		margin-top: 10px;
	}
	.image-overlay {
		width: 2rem;
		height: 2rem;
		line-height: 0;
		border-radius: 50%;
		color: #fff;
		position: absolute;
		right: 15px;
		top: 15px;
		display: inline-block;
		font-size: 35px;
		transition: transform .2s ease;
		
		&:hover {
			transform: scale(1.2);
		}
	}
}

.wrapper.plus ul {
	@extend .clean;
}
.article-headline {
	font-size: 60px;
	line-height: 1.05;
	margin-top: 0;
	@extend .mb-20;
	clear: left;
}

.article-header {
	@extend .bb-20;
	h1 {
		font-size: 60px;
		line-height: 1.05;
		@extend .mb-20;
		margin-top: 0;
	}
	.category {
		@extend .header-font;
		margin: 0 0 5px ;
		display: inline-block;
		font-size: 14px;
		line-height: 1.4;
		text-transform: uppercase;
		font-weight: normal;
		padding: 0 6px;
		text-decoration: none;
		overflow: visible;
		background-image: none;
		&:hover {
			text-decoration: none;
		}
	}

}
.teaser-noimage {
	padding: 10px 5px 5px;
	.header {
		margin-bottom: 10px;
	}
}


 /*
 @mixin teaser-color:
	$background-color, 
	$link-color, 
	$text-color, 
	$highlight-color, 
	$icon-color (+ highlight color)
	$category-background-color, 
	$category-link-color
*/


.teaser-breaking {
	@include teaser-color($col-breaking, #000, #000, $col-news, $col-news, $col-news, #fff);
}
.teaser-sport {
	@include teaser-color($col-sport, #000, #000, #fff, #fff, #000, #fff);
}

.teaser-black {
	@include teaser-color(#000, #fff, #fff, $col-news, $col-news, $col-news, #fff);
}
.teaser-news {
	@include teaser-color($col-news, #fff, #fff, #000, #000, #000, #fff);
}
.teaser-entertainment {
	@include teaser-color($col-entertainment, #fff, #fff, #000, darken($col-entertainment, 40%), $col-entertainment, #fff);
}
.teaser-sport {
	@include teaser-color(#333, #fff, #fff, $col-sport, $col-sport, $col-sport, #333);
}
.teaser-health {
	@include teaser-color($col-health, #fff, #fff, $col-health, #ffdd40, $col-health, #fff);
}
.teaser-consumer {
	@include teaser-color($col-consumer, #fff, #fff, $col-news, darken($col-consumer, 25%), $col-consumer, #fff);
}
.teaser-plus {
	@include teaser-color($gray-light, #000, #fff, $col-plus, $col-plus, $col-plus, #fff);
}


/*
.teaser-black {
	
	background-color: #000;
	padding: 5px 5px 10px;
	&>figure {
		margin-left: -5px;
		margin-right: -5px;
		margin-top: -5px;
	}
	.header a, 
	a {
		color: #fff;
	}
	.category {
		background-color: $col-news;
		color: #fff;
	}
	.header i:before {
		color: $col-news;
		@extend .blink;
	}	
}*/


.article-byline-container.mb-20 {
	margin-bottom: 10px!important
}
.article-byline-container	{
	font-size: 14px;
	@extend .subheader-font;

}
.article-byline {
	margin-right: 20px;
	display: inline-block;
	font-size: 14px;
	.open-modal {
		color: $col-news;
		line-height: 1.4!important;
	}
	img {
		border-radius: 50%;
	}
	figure {
		float: left;
		margin-right: 5px;
	}
	a {
		color: #333;
		text-decoration: none;
	}
	.article-author {
		display: block;
		white-space: nowrap;
		text-transform: uppercase;
		// overflow: hidden;
		a {
			color: #999;
			&:hover{
				color: #666;
			}
		}
	}
	&+ .article-byline {
		margin-left: 25px;
	}
}

	.signup-form {
	

	position: relative;
	::-webkit-input-placeholder {
	 	color: transparent;  
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: transparent;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: transparent;  
	}

	:-ms-input-placeholder {  
	   color: transparent;  
	}	

	input[type='email'] {
		margin: 0 0 0 0;
		background: url(../images/newsletter_anim.gif) left center no-repeat;
		transition: background-position .1s ease;
		&:focus, 
		&:active {
			background-position: -120px center;
			outline: 2px solid $col-news;
			box-shadow: 0 0 10px $col-news;
		}
	}

	button {
		position: absolute;
		right: 0;
		top: 0;
		font-size: .77778rem;
		height: 2.05556rem;
		padding: .44444rem 1rem;
	}
}
.article-embedded-link {
	line-height: 1.4;
	margin-bottom: 20px;
	@extend .header-font;
	font-weight: normal;
	a {
		color: $col-news;
	}
}
.article-content-wrapper,
.fact-column {
	ul, ol {
		margin: 20px 0;
		padding: 0 0 0 30px;
		li {
			padding-left: 0;
		}
	}
}
.fact-column {

	p, li {
		font-size: 15px;
		margin: 10px 0;
	}
}

.article-fact {
	background-color: #eee;
	padding: 10px;
	font-size: 15px;
	.fact-header:after {
		content:'';
		@extend .bt-logo;
		height: 20px;
		width: 61px;
		display: inline-block;
		float: right;

	}
	img {
		@extend .img-responsive;
	}
	h2 {
		background: #000;
		color: #fff;
		margin: -10px -10px 10px;
		padding: 5px 5px 5px 10px ;
		font-size: 16px;
	}

}
.article-date {
	@extend .subheader-font;
	@extend .mb-20;
	color: #999;
	text-transform: uppercase;
	font-size: 14px;
	strong {
		color: #333;
	}
}

.article-header {
	@extend .mb-10;
	.signup-form {
		margin-top: 17px;
	}
}

.site-footer {
	clear: both;
	background-color: #222;
	padding-bottom: 40px;
	@extend .header-font;
	color: #fff;

	p {
		line-height: 1.4;
		margin: 0 0 15px;
	}
	h2 {
		font-weight: normal;
		color: #999;
		margin: 0 0 10px;
	}
	.small, li {
		font-size: 15px;
	}
	.gray {
		color: #999;
		a {
			color: #999;
			&:hover {
				color: #eee;
			}
		}
	}

	ul {
		list-style: none;
		margin: 0 0 0 0;
		padding: 0;
		li {
			margin: 0 0 10px;

		}
	}
	a {
		color: #fff;
	}
}

.logo-wrapper .logo {
	@extend .bt-logo-flat;
}
.logo-footer {
	width: 120px;
	height: 40px;
	display: inline-block;
	margin-bottom: 15px;
}


.btn-alarm {
	@include btn($yellow, #000, 16px, 30px, 0);
	@extend .btn-block;	
	text-transform: uppercase;
}

$btn-social-size: 54px;
[class*="btn-social-"] {
	border-radius: 50%;
	height: $btn-social-size;
	width: $btn-social-size;
	line-height: ($btn-social-size - 10);
	text-align: center;
	color: #fff!important;
	border: 4px solid #fff;
	display: inline-block;
	font-size: 22px;
	margin: 0 5px;
	transform: translateY(-50%);
}
.btn-social-facebook {
	background-color: $col-facebook;
	&:hover {
		background-color: darken($col-facebook, 5%);
	}
}

.btn-social-twitter {
	background-color: $col-twitter;
	&:hover {
		background-color: darken($col-twitter, 5%);
	}
}

.site-header {
	.marketing-banner {
		padding-left: 60px;
		background: url(http://www.bt.dk/upload/css/dynamite/bt.gif) left center no-repeat;
		@extend .header-font;
		clear: none;
		font-size: 16px;
		display: inline-block;
		width: 400px;
		height: 41px;
		float: left;
		padding-top: 4px;

		a {
			color: #000;
			display: block; 
			line-height: .9;
			&:hover {
				text-decoration: none;
			}
		}
		span {
			color: $col-news;
		}
	}
}
.marketing-banner {
	b {
		font-weight: normal;
	}
	strong {
		color: $col-news;
		font-weight: 300;
	}
	i, em {
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
	}
	i {
		color: #999;
		font-family: 'helvetica neue', helvetica, arial, sans-serif;
		font-size: 11px;
	}
}
.marketing-offer {
	text-align: right;
	
	a {
		color: #000;
	}
	span {
		color: $col-news;
	}
	p {
		z-index: 2;
		position: relative;
		font-weight: 300;
		line-height: 34px;
		@extend .header-font;
		height: auto;
		.branding {
			@extend .bt-logo;
			width: 42px;
			height: 34px;
			display: inline-block;
			height: auto;
			height: 20px;
			margin-top: 2px;
			margin-right: 10px;
			background-position: center 5px;
		}
	}
}



.box-article-related {
	padding: 10px 20px 20px;
	background: transparentize($yellow, 0.9);
	.list-header {
		font-size: 24px;
		text-transform: none;
		color: $col-news;
	}
	ul {
		list-style: none;
		padding-left: 0;
		li {
			font-size: 16px;
			@extend .subheader-font;
			padding-left: 16px;
			line-height: 1.1;
			margin-bottom: 5px;
			
			

			i {
				float: left;
				margin-left: -16px;
				width: 16px;
				display: inline-block;
				&:before {
					display: inline-block;
				    width: 8px;
				    height: 8px;
				    content: '';
				    vertical-align: top;
					margin-top: 4px;
						
				    
				    
				    
				    background-color: $col-news;
				}
			}
			a {
				color: #000;
			}
		}
	}

}
.container-wide {
	max-width: 1280px;
	margin: 0 auto;
	min-width: 960px;
}

.menu-sticky {
	position: fixed;
	height: 40px;
	background-color: #000;
	left: 0;
	right: 0;
	z-index: 99999;
	white-space: nowrap;
	
	transition: all .2s ease;
	top: -50px;
	.branding {
		float: left;
		margin-right: 15px;
		@extend .bt-logo;
		height: 50px;
		width: 156px;
		display: inline-block;
	}
	.teaser-sticky {
		display: inline-block;
		padding-right: 15px;
		.header {
			margin: 0;
			line-height: 40px;
			font-weight: normal;
			white-space: nowrap;
  			overflow: hidden;
  			text-overflow: ellipsis;
  			min-width: 920px;
			&:before {
				content: 'NÆSTE:';
				color: #fff;
				margin-right: 5px;
				text-decoration: underline;
			}
			span {
				font-weight: 600;
				text-transform: uppercase;
			}
			a {
				color: #fff;
				text-transform: none;
				&:after {
					content: '\e82e';
					font-family: bt-icons;
					color: #fff;
					font-size: 90%;
					margin-left: 10px;
				}
			}
		}
	}
}
.menu-sticky.fixed-menu {
	top: 0;
	opacity: 1;

}
.sticky-breaking {
	background-color: $col-breaking;
	.teaser-sticky {
		.header {
			&:before {
				content: 'BREAKING';
				color: #000;
			}
			span {
				font-weight: 600;
				text-transform: uppercase;
			}
			a {
				color: #000;
				&:after {
					color: #000;
				}
			}
		}
	}
}

.comments-count {
	background-color: orange;
	display: inline-block;
	position: absolute;
	top: 0px;
	right: -25px;
	font-size: 15px;
	width: 40px;
	line-height: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	&:before {
		width: 0;
		height: 0;
		border-style: solid;
		content: '';
		border-width: 13px 0 0 13px;
		border-color: transparent transparent transparent orange;
		position: absolute;
		bottom: 1px;
		left: 0;
		transform: skew(-20deg,-10deg);
	}
}

/* Stylesheet for defining eventheaders on teasers using presentationtags */



[class*="event-header-"] a:before {
	font-size: 18px;
	color: #fff;
	display: inline-block;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 400;
	padding: 3px 5px;
	text-decoration: none;
	z-index: 99;
	background-color: #333;
	text-decoration: none;
	position: absolute;
    left: 5px;
	@extend .header-font;
}


/*Billedserier*/
.event-header.event-header-01 a {
	background-position: 0 0;
	background-color: #cd0403;
}



/*Tour*/
.event-header.event-header-03 a {
	background-position: 0 -40px;
}

/* Kontrovers */
.event-header.event-header-04 a {
	background-position: 0 -60px;
	background-color: #cd0403;
}

/*Mandagstræner*/
.event-header.event-header-05 a:before {
	background: $col-news;
	content: 'Mandagstræner';
}


.facebook-like-container {
	background-color: #eee;
	padding: 10px;
	iframe {
		border: 0;
		margin-top: 10px;
	}
}


