@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import "_normalize.scss";
@import "demo.scss";
@import "grid_24.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "fonts.scss";
@import "lists.scss";
@import "buttons.scss";
@import "topdeck.scss";

.demo-teaser {
	background-color: #eee;
	

	text-align: center;
	span {
		display: inline-block;
		padding: 50px 0;

		vertical-align: middle;
		
		color: #999;
		font-weight: 600;
		text-shadow: 1px 1px 1px #fff;
		font-family: $font-family-header;
	}
}

* {
	box-sizing: border-box;
}
body {
	font-family: $font-family-base;
	font-size: 19px;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.alpha {
	clear: left;
}

.mb-0 {
	margin-bottom: 0!important
}
.mb-20 {
	margin-bottom: 20px!important;
}
.mb-40 {
	margin-bottom: 40px!important;
}
.mt-0 {
	margin-top: 0!important
}
.mt-20 {
	margin-top: 20px!important
}
.mt-40 {
	margin-top: 40px!important
}

h1, h2, h3, h4, h5, h6 {
	@extend .header-font;
}

.main-header {
	height: 60px;
	background-color: $gray-light;
	margin-bottom: 10px;
}

.banner {
	text-align: center;
}
.topbanner {
	margin: 0 auto 10px;
	position: relative;
	background-color: rgba(0,0,0,.05);
	width: 960px;
	height: 180px;
	line-height: 0;
	.banner-left,
	.banner-right {
		position: absolute;
		width: 160px;
		height: 600px;
		top: 0;
		background-color: rgba(0,0,0,.05);
	}
	.banner-left {
		position: absolute;
		left: -160px;
	}
	.banner-right {
		position: absolute;
		right: -160px;
	}
}



.bt-logo {
	height: 70px;
	width: 240px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 0;
	overflow: hidden;
}
.highlight {
	background: transparent;
}
.teaser {
	margin-bottom: 30px;
	img {
		transition: opacity .1s ease;
		@extend .img-responsive;

		&:hover {
			opacity: .9;
		}
	}
	.category {
		@extend .header-font;
		position: relative;
		float: left;
		margin: -11px 0 5px ;
		display: block;
		color: #fff;
		font-size: 14px;
		line-height: 1.4;
		text-transform: uppercase;
		font-weight: 600;
		padding: 0 6px;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	.header {
		clear: left;
		margin-bottom: 0;
		a {
			color: #000;
		}
	}
	figure {
		line-height: 0;
	}

	p {
		@extend .header-font;
		font-weight: 300;
		margin: 10px 0 0;
	}
	a {
		color: #000;
	}
	/*&:not(.no-cat) .header {
		margin-top: -10px
	}*/
}
[class*="grid_"] .teaser:last-child {
	margin-bottom: 40px;
}
.no-cat .teaser .header {
	margin-top: .5em;
}

.teaser-regular {
	.header {
		font-weight: 400;
	}
}

.teaser-noimage {
	background-color: #eee;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	
	.header {
		margin-bottom: 10px;
	}
}
.teaser-bb {
	border-bottom: 4px solid #ccc;
	margin-bottom: 20px!important;
}
.teaser-light {
	.header {
		font-weight: 300;
	}
}

.teaser-blogs {
	font-family: $font-family-header;

	.teaser-byline {
		font-size: 12px;
		font-weight: 600;
		color: $col-news;
		text-transform: uppercase;
		
	}
	.header {
		color: #000;
		font-size: 21px;
		font-weight: 600;
	}
}




.cat-news {
	@include cat($col-news);
}
.cat-sport {
	@include cat($col-sport, #000);
}

.cat-entertainment {
	@include cat($col-entertainment);
}

.cat-health {
	@include cat($col-health);
}

.cat-consumer {
	@include cat($col-consumer);
}

.cat-plus {
	@include cat($col-plus);
}


.font-1 .header {
	font-size: 54px;
}
.font-2 .header {
	font-size: 44px;
}
.font-3 .header {
	font-size: 24px;
}
.font-4 .header {
	font-size: 21px;
}
.font-5 .header {
	font-size: 19px;
}

.row {
	@extend .clearfix;
}
.deck-menu {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
	a {
		display: block;
		color: #000;
		text-decoration: none;
		padding: 4px 8px;
	}

	&> li {
		@extend .header-font;
		display: inline-block;
		margin-right: 5px;
		font-size: 14px;
		text-transform: uppercase;
		position: relative;
		&.menu-more {
			.icon-angle-down {
				color: #000;
			}
			ul {
				display: none;
				width: 160px;
				position: absolute;
				right: 0;
				top: 24px;
				list-style: none;
				margin: 0;
				padding: 0;
				z-index: 99;
				li {
					background-color: $gray-light;
					a {
						text-decoration: none;
						color: #000;
						border-top: 1px solid rgba(0,0,0,.05);
					}
					&:first-child a {
							border-top: 0;
						}

				}
			}
			&.active {
				ul {
					display: block;
				}
			}
			
		}
	}

}
.load-more {
	background-color: rgba(0,0,0,.05);
	padding: 5px 0;
	color: #000;
	display: block; 
	font-size: 90%;
	text-decoration: none;
	transition: background-color .1s ease;
	box-shadow: 0 1px 0 rgba(0,0,0,.15);
	@extend .header-font;
	text-transform: uppercase;
	&:hover{
		text-decoration: none;
		background-color: rgba(0,0,0,.08);
	}
	&:active {
		box-shadow: 0 0px 0px rgba(0,0,0,.20), 0 2px 2px rgba(0,0,0,.10) inset;
	}

}
.deck {
	@extend .clearfix;
	margin-bottom: 4em;
	
}
.deck-alt {
	.deck-header {
		background: #fff;
		margin-left: -10px;
		margin-right: -10px;
		margin-top: -20px;

	}
}

.deck-header {
	font-size: 54px;
	font-weight: 300;
	line-height: 1;
	margin: 0 0 15px;
	position: relative;
	a {
		text-decoration: none;
	}
	.slash {
		color: rgba(0,0,0,.2);
	}
	.small {
		color: #000;
		font-size: 75%;
	}
}

.deck-header-right {
	float: right;
	font-size: .5em;
	vertical-align: text-bottom;
	bottom: .2em;
	position: absolute;
	right: 0;
	color: #000;
	a {
		color: #000;
		text-decoration: none;
		&:hover{
			opacity: .8;
		}
	}
}
.deck-header-small {
	font-size: 34px;
	text-transform: none;
	margin-bottom: 10px;
}

.deck-border-bottom {
	border-bottom: 4px solid rgba(0,0,0,.05);
}
.no-cat .category {
	display: none;
}




[class*="deck-background"]{
	padding-top: 1em;
	background-color: $gray-light
}



.deck-news {
	@include deck($gray-light, 0, $col-news);
}
.deck-sport {
	@include deck($gray-light, 1, $col-sport);
	.deck-menu {
		background-color: rgba(0,0,0,.05);
		line-height: 1;
	}
}

.deck-entertainment {
	@include deck($col-entertainment, 1, $col-entertainment);
}
.deck-health {
	@include deck($col-health-alt, .4, $col-health);
}
.deck-consumer {
	@include deck(#fff, .0, $col-consumer);
}
.deck-plus {
	@include deck($gray-light, .0, $col-plus);
}

.deck-bite {
	position: relative;
	background: linear-gradient(to right, $col-bite-1 0, $col-bite-1 321px, $col-bite-2 322px, $col-bite-2 640px, $col-bite-3 641px);
	z-index: 20;
	figure {
		background-color: $col-bite-1;
	}
	.teaser {
		padding-top: 20px;
	}
	.teaser-bite-2 {
		figure {
			background-color: $col-bite-2;
		}
	}
	.teaser-bite-3 {
		figure {
			background-color: $col-bite-3;
		}
	}
	img {
		opacity: .5;
		filter: grayscale(1);
		
		&:hover {
			filter: grayscale(0);
			opacity: 1;
		}
	}
	
	
}

.bite-bouble-1,.bite-bouble-2,.bite-bouble-3 {
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	z-index: 0;
	transition: all .3s ease;
}
.no-bouble {
	z-index: 11;
	position: relative;
}

.bite-bouble-1 {
	left: -40px;
	top: 50px;
	width: 100px;
	height: 100px;
	transition-delay: 0;
	opacity: 0;
}
.bite-bouble-2 {
	left: 80px;
	width: 100px;
	height: 100px;	
	transition-delay: .1s;
	opacity: 0;
}
.bite-bouble-3 {
	left: 200px;
	width: 100px;
	height: 100px;
	transition-delay: .2s;
	opacity: 0;
}	

.boubles-tricker {
	color: #000;
	position: relative;
	
	

	&:hover {
		.bite-bouble-1 {
			transform: scale(3);
			background: radial-gradient(transparentize($col-bite-1, .2), transparentize($col-bite-3, .3) 33%, transparentize($col-bite-3, 1) 66%);
			opacity: 1;
		}
		.bite-bouble-2 {
			transform: scale(2);
			top: -50px;
			background: radial-gradient(transparentize($col-bite-3, .2), transparentize($col-bite-1, .6) 33%, transparentize($col-bite-2, 1) 66%);
			opacity: 1;
		}
		.bite-bouble-3 {
			transform: scale(2.5);
			top: 50px;
			background: radial-gradient(transparentize($col-bite-2, .5), transparentize($col-bite-2, 1) 66%);
			opacity: 1;
		}	
	}
}



.live-widget-soccer {
	@extend .header-font;
	float: right;
	display: inline-block;
	background-color: #333;
	padding: 10px;
	color: #fff;
	position: relative;
	margin-bottom: 5px;
	width: 100%;
	&+ .live-widget-soccer {
		border-top: 1px solid rgba(255,255,255,.1);
	}
	span {
		display: inline-block;
		vertical-align: middle;
	}

	.live-label {
		
		font-size: 12px;
		position: absolute;
		left: 10px;
		top: 8px;
		color: $col-sport;
		display: inline-block;
		z-index: 99;
		height: 14px;
		padding-right: 15px;
		
		&:before {
			position: absolute;
			right: 0;
			top: 0;
			width: 14px;
			height: 14px;
			content: '';
			font-family: bt-icons;
			display: inline-block;
			animation: scaleout 1.0s infinite ease-in-out;
			background-color: $yellow;
			border-radius: 50%;
			z-index: 99;
		}
	}
	.dash {
		display: none;
		
	}
	.team-container {
		padding-top: 20px;
		width: 65%;
		float: left;
	}
	.team {
		line-height: 20px;
		font-size: 15px;
		overflow: hidden;
		display: block;

	}
	
	
	.score-container {
		width: 35%;
		float: left;
		padding-top: 20px;
		text-align: right;
		padding-bottom: 5px;
		span {
			font-weight: 400;
			font-size: 30px;
			line-height: 30px;
			background-color: #000;
			color: #fff;
			text-align: center;
			display: inline-block;
			padding: 5px;
			margin-bottom: 3px;
			position: relative;
			&:first-child{
				margin-right: 10px;
				&:after {
					display: block;
					width: 5px;
					height: 3px;
					background-color: #fff;
					content: '';
					position: absolute;
					right: -9px;
					top: 18px;
				}
			}
		}
	}

	.remaining {
		
		clear: left;
		display: block;
		background-color: rgba(255,255,255,.2);
		height: 6px;
		margin: 10px 0 0 0;
		top: 0px;
		position: relative;
		display: block;


		&:after {
			position: absolute;
			left: 50%;
			width: 2px;
			height: 6px;
			top: 0;
			background-color: #333;
			content: '';
			z-index: 99;
			display: inline-block;
		}
		.time {
			background-color: $yellow;
			display: inline-block;
			width: 70%;
			height: 5px;
			position: absolute;
			left: 0;

		}
	}
}

// ARTICLE 
.article-image {
	margin-bottom: 2em;
}

.article-header {
	h1 {
		font-size: 50px;
		@extend .mb-20;
	}
	.category {
		@extend .header-font;
		margin: 0 0 5px ;
		display: inline-block;
		font-size: 14px;
		line-height: 1.4;
		text-transform: uppercase;
		font-weight: 600;
		padding: 0 6px;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}

}

.article-byline-container	{
	font-size: 14px;
	@extend .header-font;

}
.article-byline {
	margin-right: 20px;
	display: inline-block;
	font-size: 14px;
	
	img {
		border-radius: 50%;
	}
	figure {
		float: left;
		margin-right: 5px;
	}
	a {
		color: #333;
		text-decoration: none;
	}
	.article-author {
		display: block;
		white-space: nowrap;
		text-transform: uppercase;
		a {
			color: #999;
			&:hover{
				color: #666;
			}
		}
	}
}

.article-date {
	@extend .header-font;
	@extend .mb-20;
	color: #999;
	text-transform: uppercase;
	font-size: 14px;

}

.social-container {
	@extend .mb-20;
}

.site-footer {
	background-color: #e5e5e5;
	padding-bottom: 40px;
	@extend .header-font;
	p {
		line-height: 1.4;
	}
	.small {
		font-size: 13px;
	}
	.gray {
		color: #666;
		a {
			color: #666;
			&:hover {
				color: #333;
			}
		}
	}

	a {
		color: #000;
	}
}
.logo-footer {
	width: 118px;
	height: 39px;
	display: inline-block;
}

[class*="footer-header-"]{
	line-height: 35px;
	border-bottom: 4px solid;
	font-weight: 600;
	font-size: 19px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	a {
		color: #000;
		text-decoration: none;
	}
}
.sitemap {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		margin: 0 0 10px;
		padding: 0 0 0 15px;
		font-size: 16px;
		&:before {
			display: inline-block;
			width: 15px;
			float: left;
			margin-left: -15px;
			height: 20px;
			content: '\e80b';
			font-family: bt-icons;
			color: #999;
		}
		a {
			color: #000;
		}
	}
}
.footer-header-news {
	border-color: $col-news;
}
.footer-header-sport {
	border-color: $col-sport;
}
.footer-header-entertainment {
	border-color: $col-entertainment;
}
.footer-header-health {
	border-color: $col-health;
}
.footer-header-consumer {
	border-color: $col-consumer;
}
.btn-alarm {
	@include btn($yellow, #000, 16px, 30px, 0);
	@extend .btn-block;	
	text-transform: uppercase;
}

$btn-social-size: 54px;
[class*="btn-social-"] {
	border-radius: 50%;
	height: $btn-social-size;
	width: $btn-social-size;
	line-height: ($btn-social-size - 10);
	text-align: center;
	color: #fff!important;
	border: 4px solid #fff;
	display: inline-block;
	font-size: 22px;
	margin: 0 5px;
	transform: translateY(-50%);
}
.btn-social-facebook {
	background-color: $col-facebook;
	&:hover {
		background-color: darken($col-facebook, 5%);
	}
}

.btn-social-twitter {
	background-color: $col-twitter;
	&:hover {
		background-color: darken($col-twitter, 5%);
	}
}
