/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
  width: 100%;
  height: 600px;
  position: relative;
  direction: ltr;
  margin-bottom: 100px;
  figure {
    margin-bottom: 100px;
  }
}

.royalSlider > * {
  float: left;
}

.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0);
}


.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden;
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
    -webkit-transform: none;
}
.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0;

}
.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsArrow,
.rsThumbsArrow {
  cursor: pointer;
}

.rsThumb {
  float: left;
  position: relative;
}


.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  
  transition:opacity 0.3s linear;
}



.rsGCaption {
  width: 100%;
  float: left;
  text-align: center;
}

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}

.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  transition:  0s;
  display: none;
}

.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  
  height: 100%;
  width: 100%;
}

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto;
}

.rsContent {
  width: 100%;
  height: 100%;
  position: relative;
}

.rsPreloader {
  position:absolute;
  z-index: 0; 
}

.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
.rsNavItem {
  -webkit-tap-highlight-color:rgba(0,0,0,0.25);
}

.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22;
}
.rsTabs {
  float: left;
  background: none !important;
}
.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}


.rsVideoContainer {
  width: auto;
  height: auto;
  line-height: 0;
  position: relative;
}
.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s;
}
.rsVideoFrameHolder.rsVideoActive {
  opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  box-sizing: border-box;
  padding-right: 44px;
}

.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15;
  
}

img.rsImg {
  max-width: none;
}

.grab-cursor {
  cursor:url(../images/slider/grab.png) 8 8, move; 
}

.grabbing-cursor{ 
  cursor:url(../images/slider/grabbing.png) 8 8, move;
}

.rsNoDrag {
  cursor: auto;
}

.rsLink {
  left:0;
  top:0;
  position:absolute;
  width:100%;
  height:100%;
  display:block;  
  z-index: 20;
  background: url(../images/slider/blank.gif);
}


// THEME

/******************************
*
*  RoyalSlider White Controls Skin
*
*    1. Arrows 
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    8. Caption
*    
*  Sprite: 'rs-minimal-white.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
* 
******************************/


/* Background */
.rsMinW,
.rsMinW .rsOverflow,
.rsMinW .rsSlide,
.rsMinW .rsVideoFrameHolder,
.rsMinW .rsThumbs {
  background: #000;
  color: #FFF;
}


/***************
*
*  1. Arrows
*
****************/

.rsMinW .rsArrow {
  height: 32px;
  width: 32px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}

.rsMinW .rsArrowLeft { right: 37px; bottom: 7px; }
.rsMinW .rsArrowRight { right: 7px; bottom: 7px; }

.rsMinW .rsArrowIcn {   
  width: 24px;
  height: 24px;
  margin-top: 3px;
  margin-left: 3px;
  position: absolute;
  cursor: pointer;  
  background: url('../images/slider/rs-minimal-white.png') transparent;
  
  border-radius: 2px;
}
.rsMinW .rsArrowIcn:hover {

}


.rsMinW.rsHor .rsArrowLeft .rsArrowIcn { background-position: -68px -36px; }
.rsMinW.rsHor .rsArrowRight .rsArrowIcn { background-position: -68px -68px; }

.rsMinW.rsVer .rsArrowLeft .rsArrowIcn { background-position: -100px -36px; }
.rsMinW.rsVer .rsArrowRight .rsArrowIcn { background-position: -100px -68px; }

.rsMinW .rsArrowDisabled .rsArrowIcn { opacity: .3 !important; filter: alpha(opacity=30);  *display: none; }


/***************
*
*  2. Bullets
*
****************/

.rsMinW {
  .rsBullets {
    z-index: 35;
    height: auto;
    display: block;
    background-color: orange;
    text-align: center;
    line-height: 6px;
    overflow: hidden;
    margin: 10px 0;
    float: none;
  }
  .rsBullet {
    width: 7px;
    height: 7px;
    display: inline-block;

    *display:inline; 
    *zoom:1;
    padding: 0 5px;
    margin: 0 2px;
    span {
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #CCC;
      background: rgba(255,255,255,0.5);
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    }
  }
}


.rsMinW .rsBullet.rsNavSelected span {
  background: #FFF;
}





/***************
*
*  3. Thumbnails
*
****************/

.rsMinW .rsThumbsHor {
  width: 100%;
  height: 72px;
}
.rsMinW .rsThumbsVer {
  width: 96px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.rsMinW.rsWithThumbsHor .rsThumbsContainer {
  position: relative;
  height: 100%;
}
.rsMinW.rsWithThumbsVer .rsThumbsContainer {
  position: relative;
  width: 100%;
}
.rsMinW .rsThumb {
  float: left;
  overflow: hidden;
  width: 96px;
  height: 72px;
}
.rsMinW .rsThumb img {
  width: 100%;
  height: 100%;
}
.rsMinW .rsThumb.rsNavSelected {
  background: #333;
}
.rsMinW .rsThumb.rsNavSelected img {
  filter: alpha(opacity=40);
  opacity: 0.7;
}
.rsMinW .rsThumb.rsNavSelected span.thumbIco {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #FFF;
  border: 2px solid rgba(255,255,255,0.9);
  -webkit-backface-visibility: hidden;
} 
.rsMinW .rsTmb {
  display: block;
}




/* Thumbnails arrow icons */
.rsMinW .rsThumbsArrow {
  height: 100%;
  width: 20px;
  position: absolute;
  display: block;
  cursor: pointer;  
  z-index: 21;  
}
.rsMinW.rsWithThumbsVer .rsThumbsArrow {
  width: 100%;
  height: 20px;
}
.rsMinW.rsWithThumbsVer .rsThumbsArrowLeft { top: 0; left: 0; }
.rsMinW.rsWithThumbsVer .rsThumbsArrowRight { bottom: 0;  left: 0; }

.rsMinW.rsWithThumbsHor .rsThumbsArrowLeft { left: 0; top: 0; }
.rsMinW.rsWithThumbsHor .rsThumbsArrowRight { right: 0; top:0; }

.rsMinW .rsThumbsArrowIcn {   
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-top:-8px;  
  margin-left: -8px;
  position: absolute; 
  cursor: pointer;  
  background: url('../images/slider/rs-minimal-white.png');
}

.rsMinW.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -128px -32px; }
.rsMinW.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -128px -48px; }

.rsMinW.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -144px -32px; }
.rsMinW.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -144px -48px; }

.rsMinW .rsThumbsArrowDisabled { display: none !important; }

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 800px) {
  .rsMinW .rsThumb {
    width: 59px;
    height: 44px;
  }
  .rsMinW .rsThumbsHor {
    height: 44px;
  }
  .rsMinW .rsThumbsVer {
    width: 59px;
  }
}







/***************
*
*  5. Fullscreen button
*
****************/

.rsMinW .rsFullscreenBtn {
  right: 15px;
  top: 8px;
  width: 35px;
  height: 35px;
  z-index: 22;
  display: block;
  position: absolute;
  cursor: pointer;
  
}
.rsMinW .rsFullscreenIcn {
  display: block;
  
  
  
  &:after {
    content: '\e82a';
    font-family: bt-icons;
    color: #fff;
    font-size: 35px;
    position: relative;
    top: 0px;
    left: 0;
  }
}
.rsMinW .rsFullscreenIcn:hover {
  opacity: 0.8;
}
.rsMinW.rsFullscreen .rsFullscreenIcn {
  
}

.rsFullscreen .rsFullscreenIcn:after {
   content: '\e82b';
   color: #fff;
   width: 44px;
   height: 44px;
   

}






/***************
*
*  7. Preloader
*
****************/

.rsMinW .rsPreloader {
  width:20px;
  height:20px;
  background-image:url(../preloaders/preloader-white.gif);

  left:50%;
  top:50%;
  margin-left:-10px;
  margin-top:-10px; 
}




/***************
*
*  8. Global caption
*
****************/
.rsMinW .rsGCaption {
  position: absolute;
  float: none;
  bottom: 6px;
  left: 6px;
  text-align: left;
  background: #000;
  background: rgba(0,0,0, 0.75);
  color: #FFF;
  padding: 2px 8px;
  width: auto;
  font-size: 14px;
  border-radius: 2px;
  max-width: calc(100% - 130px);
}


/******************************
*
*  RoyalSlider White Controls Skin
*
*    1. Arrows 
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    8. Caption
*    
*  Sprite: 'rs-minimal-white.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
* 
******************************/


/* Background */
.rsMinW,
.rsMinW .rsOverflow,
.rsMinW .rsSlide,
.rsMinW .rsVideoFrameHolder,
.rsMinW .rsThumbs {
  background: #000;
  color: #FFF;
}





/***************
*
*  7. Preloader
*
****************/

.rsMinW .rsPreloader {
  width:20px;
  height:20px;
  background-image:url(../images/slider/preloader-white.gif);

  left:50%;
  top:50%;
  margin-left:-10px;
  margin-top:-10px; 
}


























// INLINE





