[class*="teaser-oneliner-"]{
	@extend .header-font;
	font-size: 30px;
	margin-bottom: 20px;
	padding: 5px 10px;
	font-weight: normal;
	line-height: 1.2;
	position: relative;
	span, i {
		display: none;
	}

	a {
		color: #000;
		
	}
	.icon-right-open {
		font-size: 80%;
		position: relative;
		top: -3px;
	}
}
.left-right {
	animation:left-right .7s linear infinite;
}
.blink {
	animation:blink 1.5s linear infinite;
}
.blink-alt {
	animation:blink-alt 1.5s ease infinite;
}

.teaser-oneliner-breaking {
	background-color: $col-breaking;
	a:before {
		content: 'BREAKING';
		@extend .blink-alt;
	}
}

.teaser-oneliner-live {
	background-color: #000;

	a {
		color: #fff;
		&:before {
			content: 'LIVE';
			color: $col-news;
		}
		&:after {
			content: '\e81e ';
			@extend .blink-alt;
			color: $col-news;
			
		}
	}
}
.teaser-oneliner-comingup {
	background-color: $col-news;
	a, a:hover {
		color: #fff;
	}
	a:before {
		content: 'OPDATERES';
		@extend .blink-alt;
		margin-right: 5px;
	}
}
.teaser-oneliner-now {
	background-color: $col-news;
	a, a:hover {
		color: #fff;
	}
	a:before {
		content: 'LIGE NU';
		color: #000;
		@extend .blink-alt;
	}
}

.teaser-oneliner-live-sport {
	background-color: $col-sport;
	a {
		&:before {
			content: 'LIVE';
		}
	&:after {
			content: '\e81e ';
			@extend .blink-alt;
		}
	}
	i, span {
		display: none;
	}
}

.teaser-oneliner-live-sport,
.teaser-oneliner-live {
	a {
		&:before {
			text-decoration: underline;
			display: inline-block;
			margin-right: 5px;
			padding-left: 28px
		}
		&:after {
			position: absolute;
			left: 9px;
			top: 6px;
			font-family: bt-icons;
		}	
	}
}









.live-ticker-2 {

	margin-bottom: 20px;
	position: relative;
	
	.module-padding {
		padding: 0;
	}
	h1 {
		background-color: $col-news;
		color: #fff;
		@extend .font-header;
		font-size: 30px;
		padding: 3px 5px ;
		position: relative;
		margin: 0;
		line-height: 1;
		
		span {
			float: right;
			font-weight: 400;
			width: 220px;
			font-size: 15px;
			text-align: right;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 1.7;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		overflow: hidden;
		margin: 0;
		
		li {
			padding: 10px 0 0 30px;
			position: relative;
			margin: 0;
			margin: 0;

			&:before {
				display: inline-block;
				content: '';
				background-color: #ccc;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 15px;
				width: 1px;
			}
			&:after {
				display: inline-block;
				content: '';
				background-color: $col-news;
				position: absolute;
				top: 16px;
				left: 8px;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				border: 4px solid #fff;
		
			}

			&:last-child {
				border: 0;
				padding-bottom: 0;
			}
		}
		figure {
			margin-top: 5px;
			line-height: 0;
		}

		h2 {
			font-size: 18px;
			margin: 0 0 0;
			line-height: 1.1;
			
		}
		p {
			display: none;			
		}
		a {
			color: #000;
			&:hover{
				img {
					opacity: .9;
				}
			}
		}
		time {
			color: $col-news;
			@extend .header-font;
			font-size: 18px;
			padding-top: 5px;
			@extend .subheader-font;
			
		}
	}
	.banner {
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		overflow: hidden;
		margin-bottom: 0;
		line-height: 0;
		margin-right: -10px;
		
	}
	[class*="liveticker-"]{
		time {
			&:after{
				font-weight: normal;
				display: inline-block;
				font-size: 15px;
				line-height: 1;
				margin-left: 5px;
				padding: 3px 5px 1px;
				content: '';
				position: relative;
				top: -2px;
			}
		}
	}
	.liveticker-breaking {
		time {
			&:after {
				background-color: $col-breaking;
				color: #000;
				content: 'BREAKING';
			}
		}
	}
	.liveticker-live {
		time {
			&:after {
				background-color: $col-news;
				color: #fff;
				content: 'LIVE';
			}
		}
	}
	.liveticker-comingup {
		time {
			&:after {
				background-color: $col-news;
				color: #fff;
				content: 'OPDATERES...';
			}
		}
	}
	.liveticker-commingup {
		time {
			&:after {
				content: 'OPDATERES...';
			}
		}
	}
	.liveticker-live-sport {
		time {
			&:after {
				content: 'LIVE';
				background-color: $col-sport;
				color: #000;
			}
		}
	}
}






